<div class="row">
  <div class="col-8 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Create New Phase</h4>
        <p class="card-description">
          Fill the description below </p>
        <form class="forms-sample" [formGroup]="createPhaseForm">
          <div class="form-group">
            <label for="phaseLabel">Phase Label</label>
            <input type="text" class="form-control" formControlName="phaseLabel" placeholder="Phase Label">
          </div>
          <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" class="form-control" formControlName="startDate" placeholder="Start Date">
          </div>
          <div class="form-group">
            <label for="endDate">Deadline</label>
            <input type="date" class="form-control" formControlName="endDate" placeholder="End Date">
          </div>
          <button class="btn btn-light">Cancel</button>
          <button type="submit" class="btn btn-gradient-primary mr-2" (click)="createPhase()">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>