<div class="row">
  <div class="col-md-8 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Create New Event</h4>
        <p class="card-description">
          Fill the description below </p>
        <form class="forms-sample" [formGroup]="createEventForm">
          <div class="form-group">
            <label for="topic">Event Label</label>
            <input type="text" class="form-control" formControlName="eventLabel" placeholder="Event Label">
          </div>     
          <div class="form-group">
            <label for="eventDate">Event Date</label>
            <input type="date" class="form-control" formControlName="eventDate" placeholder="Event Date">
          </div>    
          <div class="form-group">
            <label for="eventDate">Event Time</label>
            <input type="time" class="form-control" formControlName="eventTime" placeholder="Event Date">
          </div>  
          <div class="form-group">
            <label for="exampleTextarea1">Event Description</label>
            <textarea class="form-control" id="exampleTextarea1" rows="4" formControlName="eventDesc"
              placeholder="Description"></textarea>
          </div>


          <button class="btn btn-light">Cancel</button>
          <button type="submit" class="btn btn-gradient-primary mr-2" (click)="createEv()">Create</button>

        </form>
      </div>
    </div>
  </div>
</div>